<?php
/**
 * @author Artjoms Travkovs <artjoms.travkovs@scandiweb.com>
 */
use Scandiweb\StoreMap\Block\StoreMap;
/**
 * @var StoreMap $block
 */
?>

<div class="shop-map">
    <div class="shop-find" id="shop-find">
        <div class="shop-search">
            <input id="place-search" type="text" ref="autocomplete">
        </div>
        <div class="shop-list">
            <div
                class="shop-data"
                @click="selectShop(index)"
                v-for="(shop, index) in shops">
                <h4>{{ shop.store_name }}</h4>
                <span>{{ shop.address }}</span>
            </div>
        </div>
    </div>
    <div id="map"></div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Scandiweb_StoreMap/js/main": {
                "data": <?= json_encode($block->getAllStores()); ?>,
                "leafletApiKey": "<?= $block->getLeafletApiKey(); ?>"
            }
        }
    }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<?=$block->getGoogleApiKey();?>&amp;libraries=places"></script>

<script type="text/javascript">
    require(['Scandiweb_StoreMap/js/main'], function () {});
</script>
