<div>
    <blockquote class="quote block-title">
        <p>Most important information goes here.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donex sit amet vestibulum ligula, eu ultricies mibh. Sed eu dolor neque. Vestibulum rhoncus ligula a leo placerat, vitae scelerisque purus malesuada, Pellentesque vel fringilla lacus. Mauris auctor lectus eget eros dapibus imperdiet. Maecenas at placerat odio.</p>
    </blockquote>
    <h2>Courier Delivery Service</h2>
    <div class="row-t">
        <div class="col">
            <p>JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Decor, Bath Products). It is important you provide correct address information. If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.</p>
            <p>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery. You will be able to start tracking your order at <a href="http:://www.purolator.com">http:://www.purolator.com</a> once Purolator picks up the products from the JYSK store.</p>
        </div>
        <div class="col w-100 t-center"><img src="{{media url=&quot;purolator_delivery.png&quot;}}" alt="Purolator Couier Delivery Servicce" width="220" height="220"></div>
    </div>
    <h2>Local Delivery Service</h2>
    <p>YSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two man service and will be either forts-point-of entry or any toom in the house depending on location.</p>
    <ul class="t-bold">
        <li>The best shipping company in the world</li>
        <li>Another bullet point oulining the good local deliveries</li>
        <li>The third buller point example</li>
    </ul>
    <div class="row-t justify-around">
        <div class="col mb-p">

            <div class="contact contact--side" style="width: 320px;">
                <i class="fas fa-envelope contact__icon icon--rounded"></i>
                <div class="contact__body">
                    <h2 class="t-upper mb-10">Saņem atlaides kodu</h2>
                    <p style="width: 260px;" class="mb-0">Saņem reģistrācijas apstiprinajumu un atlaides kodu uz e-pastu.</p>
                </div>
            </div>

            <div class="contact contact--side" style="width: 320px;">
                <i class="fas fa-cart-plus contact__icon icon--rounded"></i>
                <div class="contact__body">
                    <h2 class="t-upper mb-10">Saņem atlaides kodu</h2>
                    <p style="width: 260px;" class="mb-0">Saņem reģistrācijas apstiprinajumu un atlaides kodu uz e-pastu.</p>
                </div>
            </div>
        </div>
        <div class="col row justify-around">
            <div class="col">

                <div class="contact" style="width: 170px;">
                    <i class="fas fa-envelope contact__icon icon--rounded"></i>
                    <div class="contact__body">
                        <h2 class="t-upper mb-10">Saņem atlaides kodu</h2>
                        <p class="mb-0">Saņem reģistrācijas apstiprinajumu un atlaides kodu uz e-pastu.</p>
                    </div>
                </div>
            </div>
            <div class="col">

                <div class="contact" style="width: 170px;">
                    <i class="fas fa-cart-plus contact__icon icon--rounded"></i>
                    <div class="contact__body">
                        <h2 class="t-upper mb-10">Saņem atlaides kodu</h2>
                        <p class="mb-0">Saņem reģistrācijas apstiprinajumu un atlaides kodu uz e-pastu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-t">
        <div class="col">
            <h2>Half column content</h2>
            <p>JYSK,lv uses Purolator to deliver soft goods (ex. Bedding, Home Decor, Bath Products). It is important you provide correct address information. If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.</p>
            <p>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery. You will be able to start tracking your order at&nbsp;<a href="http:://www.purolator.com">http:://www.purolator.com</a> once Purolator picks up the products from the JYSK store.</p>
        </div>
        <div class="col">
            <h2>Half column content</h2>
            <p>JYSK,lv uses Purolator to deliver soft goods (ex. Bedding, Home Decor, Bath Products). It is important you provide correct address information. If after three failed attempts of delivering your products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.</p>
            <p>You will receive a shipment email with a Purolator tracking number once your order is ready for delivery. You will be able to start tracking your order at <a href="http:://www.purolator.com">http:://www.purolator.com</a> once Purolator picks up the products from the JYSK store.</p>
        </div>
    </div>
    <h2>Full width paragraph</h2>
    <h3 class="t-light t-upper">H3&nbsp;Subtitle</h3>
    <p>JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two man service and will be either forts-point-of entry or any toom in the house depending on location.</p>
    <div class="table-responsive">
        <table class="m-table">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>A table example column 1</th>
                <th>Another column</th>
                <th>Last column</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <p>Row title</p>
                    <p>in two lines</p>
                </td>
                <td>Some text aligned in center of cell</td>
                <td>Second row example</td>
                <td>Last column row</td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>Lorem ipsum dolor jysk amet.</td>
                <td>Consectuam</td>
                <td><i class="fas fa-check mr-10 c-secondary"></i>Integrated</td>
            </tr>
            <tr>
                <td>Small row title</td>
                <td>Lorem ipsum dolor jysk amet.</td>
                <td><i class="fas fa-check mr-10 c-secondary"></i>Yes</td>
                <td>This was an empty cell</td>
            </tr>
            <tr>
                <td>
                    <p>Row title</p>
                    <p>in three long lines</p>
                    <p>to show fluidity</p>
                </td>
                <td>
                    <p>Two lines content</p>
                    <p>can go there</p>
                </td>
                <td>
                    <p>Numbers of row is unlimited,</p>
                    <p>and the content will</p>
                    <p>stretch according to it.</p>
                </td>
                <td>
                    <p>Two lines content</p>
                    <p>can go there</p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
