#map {
    height: 500px;
    width: 100%;
    min-width: 400px;
}

#shop-find {
    height: 480px;
}

.shop-find {
    background-color: #e6e6e6;
    min-width: 350px;
    padding-top: 20px;
}

.shop-data {
    border-top: 1px solid #000;
    padding: 0 25px 20px;
    cursor: pointer;
}

.shop-list {
    max-height: calc(100% - 52px);
    overflow-y: auto;
}

.shop-search {
    border-bottom: 1px solid #000;
    padding: 0 25px 20px;
}

.vbt-autcomplete-list {
    max-height: 350px;
    overflow-y: auto;
    padding-top: 5px;
    position: absolute;
    z-index: 999
}

.pac-container { z-index: 10000 !important; }

@media only screen and (min-width: 800px) {
    .shop-map {
        display: flex;
        justify-content: space-between;
    }
}
