@include tablet() {
    .row {
        &-t {
            display: flex;
            flex-direction: row;

            .col {
                margin-left: 50px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .quote {
        margin-left: 60px;

        p {
            position: relative;

            &::before {
                border-top: 1px solid $secondary;
                content: '';
                height: 1px;
                margin-right: 10px;
                position: absolute;
                right: 100%;
                top: 18px;
                width: 50px;
            }
        }
    }
}
