<?php
/**
 * @author Artjoms Travkovs <artjoms.travkovs@scandiweb.com>
 */
?>
<?php /** @var $block \Magento\Catalog\Block\Product\Image */ ?>

<span class="product-image-container badge"
      style="width:<?= /* @escapeNotVerified */ $block->getWidth() ?>px; position: relative;">
    <span class="product-image-wrapper"
          style="padding-bottom: <?= /* @escapeNotVerified */ ($block->getRatio() * 100) ?>%;">
        <img class="<?= /* @escapeNotVerified */ $block->getClass() ?>"
            <?= /* @escapeNotVerified */ $block->getCustomAttributes() ?>
            src="<?= /* @escapeNotVerified */ $block->getImageUrl() ?>"
             max-width="<?= /* @escapeNotVerified */ $block->getWidth() ?>"
             max-height="<?= /* @escapeNotVerified */ $block->getHeight() ?>"
             alt="<?= /* @escapeNotVerified */ $block->stripTags($block->getLabel(), null, true) ?>"/></span>
    <?php if ($block->isBadgeActive()): ?>
    <span style="position: absolute; top:0; bottom:0;right:0;left:0; z-index: 1;">
        <img style="width: 25%;" src="<?= $block->getBadge(); ?>"  alt="" />
    </span>
    <?php endif; ?>
</span>
