// Blocks presets
p {
    word-wrap: break-word;
}

.contact {
    text-align: center;

    &--side {
        align-items: center;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
}


.icon {
    &--rounded {
        border-radius: 30px;
        font-size: $rounded-icon-size;
        height: $rounded-icon-size;
        padding: $rounded-icon-padding;
    }
}

.in-stock {
    font-size: 10px;
    margin-left: 4px;

    &::before {
        content: '•';
        font-size: 25px;
        position: relative;
        right: 4px;
        top: 5px;
    }
}

.m-table {
    min-width: $table-min-width;
    text-align: center;
    vertical-align: middle;

    p {
        margin-bottom: 0;
    }

    td,
    th {
        border: 1px solid $base;
        padding: $table-cell-padding;
    }

    thead {
        background-color: $bg-table-top;
        text-transform: uppercase;

        th {
            text-align: center;
        }
    }

    tbody {

        td {
            vertical-align: middle;

            &:first-child {
                background-color: $bg-table-left;
                text-align: left;
            }
        }
    }
}

.related {
    margin-bottom: 60px;

    .items {
        padding-left: $slider-arrow-gap;
        padding-right: $slider-arrow-gap;
    }

    .item .related-available {
        border: 1px solid $dark-grey;
        height: 370px;
        width: 275px;

        .details {
            padding: 20px;
        }
    }

    &__image {
        background-position: center;
        background-repeat: no-repeat;
        height: 235px;
        width: 100%;
    }

}

@include tablet() {
    .page-header {
        background-color: $white;
        position: fixed;
        width: 100%;
        z-index: 1000;

        .panel,
        .action.advanced {
            transition: opacity $transition-duration;
        }

        .logo img {
            transition: width $transition-duration;
        }

        .control {
            transition: padding-bottom $transition-duration;
        }

        &.sticky {
            .panel,
            .action.advanced {
                display: none;
                opacity: 0;
            }

            .header.content {
                padding-top: 15px;
            }

            .logo {
                margin-bottom: 10px;
                margin-top: -4px;

                img {
                    width: 140px;
                }
            }

            .control {
                padding-bottom: 10px;
            }
        }
    }

    .nav-sections {
        margin-top: 142px;
    }
}
