// Background color helpers
.bg-light {
    background-color: $light;
}

.bg-primary {
    background-color: $primary;
}

.bg-white {
    background-color: $white;
}


// Text color helpers
.a-reset-color {
    color: initial;

    &:hover,
    &:active,
    &:visited {
        color: initial;
    }
}

.c-dark {
    color: $dark;
}

.c-muted {
    color: $dark-grey;
}

.c-primary {
    color: $primary;
}

.c-secondary {
    color: $secondary;
}

// Elements presets
body {
    color: $base;

    a,
    a:visited {
        color: $primary;
    }

    blockquote p {
        color: $secondary;
    }

    h1,
    h2,
    h4,
    h5,
    h6 {
        color: $dark;
    }

    h3 {
        color: $primary;
    }

    table {
        thead {
            color: $c-theader;
        }
    }

    .contact {
        color: $primary;

        &__icon {
            background-color: $primary;
            color: $white;
        }
    }

    .in-stock {
        color: $secondary;
    }
}

