html,
body {
    min-width: $page-min-width;
}

// Flexbox row-column layout helper classes
.row {
    display: flex;
    flex-direction: row;

    .col {
        margin-left: $left-spacing;

        &:first-child {
            margin-left: 0;
        }
    }
}

.table-responsive {
    display: block;
    overflow-x: auto;
    width: 100%;
}

.justify-around {
    justify-content: space-around;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mr-10 {
    margin-right: 10px;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
 }

.mb-10 {
    margin-bottom: 10px;
}

.mb-p {
    margin-bottom: $afterspace-p;
}
