body {
    font-family: $ff-base;
    font-size: $fs-m;

    a {
        text-decoration: underline;
    }

    blockquote {
        font-style: normal;

        p:last-child {
            margin-bottom: $afterspace-p;
        }
    }

    h1,
    h2,
    h3 {
        font-weight: $fw-l;
        margin-bottom: $afterspace-title;
        margin-top: $beforespace-title;
    }

    h1 {
        font-size: $fs-xxl;
    }

    h2 {
        font-size: $fs-m;
    }

    h3 {
        font-size: $fs-l;
    }

    p {
        margin-bottom: $afterspace-p;
    }

    // Helpers

    .block-title {
        font-size: $fs-xl;
        font-weight: $fw-s;
    }

    .breadcrumbs {
        font-size: $fs-s;
    }

    .fw-inherit {
        font-weight: inherit;
    }

    .t-bold {
        font-weight: $fw-l;
    }

    .t-dots {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .t-center {
        text-align: center;
    }

    .t-light {
        font-weight: $fw-s;
    }

    .t-nodecore,
    .t-nodecore:hover {
        text-decoration: none;
    }

    .t-upper {
        text-transform: uppercase;
    }
}
