@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css';


.related {
    .slick-dots {
        position: relative;
        top: 40px;
    }

    .slider-next,
    .slider-previous {
        background: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);

        &:active {
            box-shadow: none;
        }
    }

    .slider-next {
        right: -$slider-arrow-gap;
    }

    .slider-previous {
        left: -$slider-arrow-gap;

    }
}
