@mixin media($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin tablet() {
    @include media(768px) {
        @content;
    }
}

@mixin desktop() {
    @include media(992px) {
        @content;
    }
}
