// Base colors
$white: #fff;
$lightblue: #cddaf0;
$jyskblue: #003187;
$dark: #373b42;
$dark-grey: #9fa1ab;
$copy: #46536c;
$green: #85b73c;
$orange: #f47b20;


// Backgrounds
$bg-table-top: #f5f7fb;
$bg-table-left: #fcfdff;
$bg-c-base: $white;
$bg-base: $bg-c-base;

// Common colors
$light: $lightblue;
$primary: $jyskblue;
$base: $copy;
$secondary: $green;
$accent: $orange;

// Specific text colors
$c-theader: $dark-grey;
