@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Font Families
$ff-base: 'Open Sans', Helvetica, Arial, sans-serif;

// Font Sizes
$fs-xxl: 31px;
$fs-xl: 26px;
$fs-l: 19px;
$fs-m: 14px;
$fs-s: 12px;

// Font weights
$fw-l: bold;
$fw-s: 100;

// Spacing
$afterspace-p: 40px;
$afterspace-title: 30px;
$beforespace-title: 20px;
